.list-img {
    background-image: url(../images/listback.png);
}

.home-item {
    /* background-color: red; */
    background-size: 50% auto;
    background-repeat: no-repeat;
    background-position: left center;
    line-height: 100%;

    display: -moz-box;
    display: -webkit-box;
    display: -o-box;
    display: -ms-box;
    display: box;
}

.home-item div {
    width: 100%;
    display: block;
    margin: auto 0;
    float: right;
}


.addbook-img {
    background-image: url(../images/addbookback.png);
    /*background-size: contain;*/
    background-repeat: no-repeat;
}

.qr-img {
    background-image: url(../images/qrillust.png);
    /*background-size: contain;*/
    background-repeat: no-repeat;
}

.lend-img {
    background-image: url(../images/lendback.png);
    /*background-size: contain;*/
    background-repeat: no-repeat;
}

.lend-img div {
    font-size: 24px;
}
