* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  font-size: 16px;
  background: rgb(255, 255, 255);
  color: #2f2f2f;
}

a {
  color: #2f2f2f;
  text-decoration: none;
  cursor: pointer;
}

a:hover {
  text-decoration: none;
}

li {
  list-style: none;
}

.books li a:hover{
  text-decoration: underline;
}

input {
  padding: 6px;
  font-size: 1.5rem;
}

input[type="file"] label{
  background: #000;
}

button {
  outline: none;
}

.errorText {
  color: #f00;
}

#errorText {
  color: #f00;
}

.sp {
  display: none;
}

.pc {
  display: block;
}

.btn {
  padding: 5px 10px;
  background: #fff;
  color: rgb(137, 208, 255);
  border: 1px solid rgb(137, 208, 255);
  border-radius: 3px;
  font-size: 1.8rem;
  transition: .3s;
  box-shadow: 0px 1px 2px rgba(0,0,0,.3);
  cursor:pointer;
}

.btn:hover {
  box-shadow: none;
  opacity: .8;
  transform: scale(0.95);
}

header .btn {
  background: rgb(137, 208, 255);
  color: #000;
}

.page-title {
  padding: 20px 0;
  text-align: center;
}

/* template.html */

.header {
  width: 100%;
  background: rgb(182, 226, 255);
  box-shadow: 0px 1px 10px 0px rgba(0,0,0,.5);
}

.header-wrapper {
  height: 80px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-wrapper-left,
.header-wrapper-right{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-wrapper-right > .user-info{
  margin-right: 40px;
}

.header-nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-nav ul li {
  margin-left: 30px;
  font-size: 2rem;
  letter-spacing: 2px;
  transition: .3s;
}

.header-nav ul li:hover {
  opacity: .8;
  transform: rotateZ(-5deg);
}

.right-box {
  display: flex;
  align-items: center;
}

.header-bottom {
  padding: 10px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

i.fas {
  font-size:30px;
  cursor: pointer;
  vertical-align: middle;
  transition: .3s;
}

.header-bottom i.fas:hover {
  transform: translateX(-5px);
}

i.fas.fa-sign-out-alt{
  font-size: 35px;
}

.log-out-wrapper {
  text-align: center;
}

.logout-text {
  font-size: 1rem;
}

/* home.html */
.container.home,
.container.edit{
  width: 50%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container.home {
  width: 70%;
}

.container.add_books,
.container.lender {
  width: 70%;
  margin: 0 auto;
}

.container.edit {
  align-items: flex-start;
}

.home-items {
  width: 100%;
  height: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.home-item {
  width: calc(100% / 2 - 25px);
  padding: 50px;
  display: block;
  background: rgb(182, 226, 255);
  text-align: right;
  font-size: 3rem;
  border-radius: 5px;
  box-shadow: 2px 2px 5px rgba(0,0,0,.3);
  transition: .3s;
  align-self: stretch;
}

.home-item:hover {
  opacity: .8;
  box-shadow: none;
  transform: scale(0.98);
}

.home-item:nth-child(1),
.home-item:nth-child(2) {
  margin-bottom: 50px;
}

/* books_list */
.container.books_list {
  width: 80%;
  margin: 0 auto;
}

.books li {
  text-align:left;
  margin-bottom: 15px;
}

.book-detail {
  padding: 3rem;
}

.book-detail > div {
  margin-bottom: 20px;
}

.book-detail > div:last-of-type {
  margin-bottom: 0;
  text-align: center;
}

.book-detail > .btn {
  text-align: right;
}

.flex-wrapper {
  display: flex;
  justify-content: space-between;
}

.flex-item {
  width: calc(100% / 2 - 50px);
  padding: 3rem;
}

li a {
  position: relative;
}

.books li a:focus::before{
  content: '▷';
  position: absolute;
  top: 50%;
  left: -20px;
  transform: translateY(-50%);
  color: #000;
}

/* edit.html */
.form-edit {
  margin-top: 50px;
}

.form-item {
  margin-bottom: 20px;
  vertical-align: middle;
}

.form-edit > .flex-wrapper {
  justify-content: flex-end;
}

.form-edit > .flex-wrapper > .btn {
  margin-left: 20px;
}

/* add_books.html */
#interactive {
  flex: 1;
  position: relative;
}

.drawingBuffer {
  position: absolute;
  top: 0;
  left: 0;
}

.form-add {
  flex:1;
  text-align: center;
}

label {
  vertical-align: middle;
  display: inline-block;
  width: 100px;
}

.form-add button {
  text-align: center;
}

.canvas_test {
  flex: 1;
  width: 80%;
  background: #fafafa;
  text-align: center;
}

.add-error-text {
  color: #f00;
  text-align: center;
  margin-bottom: 20px;
}

#add-error-text  {
  color: #f00;
  text-align: center;
  margin-bottom: 20px;
}

/* login.html */
.container.login {
  width: 600px;
  margin: 0 auto;
  padding: 10px;
  background: rgb(238, 248, 255);
  border-radius: 10px;
  text-align: center;
}

.canvas-wrapper {
  width: 150px;
  height: 150px;
  margin: 0 auto 20px;
}

canvas {
  width: 100%;
  height: 100%;
}

input[type="file"] {
  display: none;
}

label.wide {
  margin-right: 10px;
  padding: 10px 20px;
  display: inline;
  cursor: pointer;
  color: rgb(255, 255, 255);
  background: rgb(137, 208, 255);
  box-shadow: 0px 1px 2px rgba(0,0,0,.3);
}

@media screen and (max-width: 767px) {
  .pc {
    display: none;
  }

  .sp {
    display: block;
  }

  /* template */
  .user-info {
    font-size: 1.2rem;
  }

  .menu-btn {
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .menu-btn span,
  .menu-btn span::after,
  .menu-btn span::before {
    content: '';
    display: block;
    width: 25px;
    height: 2px;
    background: #000;
    position: absolute;
    transition: .3s;
    z-index: 50;
  }

  .menu-btn span::after {
    top: 8px;
  }
  .menu-btn span::before {
    bottom: 8px;
  }

  .menu-btn.active span {
    background: rgba(255,255,255,0);
  }

  .menu-btn.active span::after {
    top: 0px;
    transform: rotate(-135deg);
    background: #fff;
  }

  .menu-btn.active span::before {
    bottom: 0px;
    transform: rotate(135deg);
    background: #fff;
  }

  #humburger-menu-content {
    width: 50%;
    height: 100%;
    background: rgb(143, 210, 255);
    position: fixed;
    top: 0;
    right: 0;
    z-index: 30;
    transform: translateX(100%);
    transition: .3s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #humburger-menu-content.active {
    transform: translateX(0);
  }

  /* #humburger-menu-content ul {
    width: 100%;
    height: 50%;
    background: #000;
  } */

  .hmc-item {
    margin: 40px 0;
  }

  .hmc-item a {
    font-size: 2rem;
    letter-spacing: 5px;
    color: #fff;
  }

  /* login html */
  h1 {
    font-size: 2rem;
  }

  body {
    font-size: 13px;
  }

  .page-title {
    font-size: 1.2em;
  }

  .header-wrapper{
    width: 100%;
    height: 60px;
  }

  .container.login{
    width: 80%;
  }
  .canvas-wrapper {
    width: 100px;
    height: 100px;
  }

  input {
    padding: 3px;
  }

  .btn {
    font-size: inherit;
  }

  /* home */
  .container.home {
    width: 100%;
  }

  .home-item {
    margin: 0 auto 50px;
    width: 80%;
    font-size: inherit;
  }

  a.home-item > div {
    font-size: 1.8rem;
  }

  /* books_list */
  .container.books_list .flex-wrapper{
    display: block;
  }

  .container.books_list .page-title {
    padding: 10px;
  }

  .book-detail.active {
    width: 80%;
    display: block;
    position: relative;
    top: -400px;
    left: 50%;
    background: rgb(255, 255, 255);
    transform: translateX(-50%);
    border-radius: 15px;
    box-shadow: 0 0 15px rgba(0,0,0,.5);
    z-index: 3;
  }

  .fa-times {
    position: absolute;
    top: 5px ;
    right: 10px;
  }

  /* lender */
  .container.lender {
    width: 80%;
  }

  video {
    width: 100%;
  }

  .lender .flex-wrapper {
    display: block;
  }

  .drawingBuffer {
    width: 250px;
  }
}

