{% extends 'template.html' %}

{% block css %}
<link rel="stylesheet" href="../../static/css/style.css">
{% endblock %}

{% block content %}
  <h2 class="page-title">追加画面</h2>
  <div class="container add_books">
    <div class="flex-wrapper">
      <div></div>
      <form action="{{url_for('add_books.add_books')}}" method='POST' class="form-add">
        {% if error!=0 or success!=0 %}
          <div class="form-item">
          {% if error == 1 %}
		  	    <p>追加に失敗しました。</p>
	    	  {% elif error == 2 %}
	    	    <p>そのJANコードは既に登録されています</p>
	        {% endif %}
	    	  
          {% if success == 1 %}
	    	    <p>登録しました。</p>
	    	  {% endif %}
          </div>
        {% endif %}
        <div class="form-item">
          <label for="book-name">JANコード</label>
          <input type="number" name="jancord" id="jancord" readonly>
        </div>
        <div class="form-item">
          <label for="book-name">図書名</label>
          <input type="text" name="book-name" id="book-name">
        </div>
        <div class="form-item">
          <label for="author">著者名</label>
          <input type="text" name="author" id="author">
        </div>
        <div class="form-item">
          <label for="book-amount">冊数</label>
          <input type="number" name="book-amount" id="book-amout">
        </div>
      <button type="submit" class="btn">登録</button>
      </form>
    </div>
  </div>
{% endblock %}