<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Jyobi-BMS</title>
</head>
<body>
  <h2 class="page-title">追加画面</h2>
  <div class="container add_books">
    <div class="flex-wrapper">
      <div></div>
      <form action="" class="form-add">
        <div class="form-item">
          <label for="book-name">JANコード</label>
          <input type="number" name="book-name" id="book-name">
        </div>
        <div class="form-item">
          <label for="book-name">図書名</label>
          <input type="text" name="book-name" id="book-name">
        </div>
        <div class="form-item">
          <label for="author">著者名</label>
          <input type="text" name="author" id="author">
        </div>
        <div class="form-item">
          <label for="book-amount">冊数</label>
          <input type="number" name="book-amount" id="book-amout">
        </div>
      <button type="submit" class="btn">登録</button>
      </form>
    </div>
  </div>
</body>
</html>