<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../static/css/style.css">
  <title>Jyobi-BMS</title>
</head>
<body>
  <header class="header">
    <div class="header-wrapper">
      <h1 class="logo"><a href="#">Jyobi-BMS</a></h1>
      <div class="header-right-box">
        <div class="user_info">
          <div class="user_number">学籍番号：4100001</div>
          <div class="user_name">生徒名：ジョビ君</div>
        </div>
        <a href="#" class="btn">ログアウト</a>
      </div>
    </div>
  </header>
  <div class="container books_list">
    <div class="flex-wrapper">
      <ul class="books flex-item">
        <!-- 動的に増える部分 -->
        <li><a href="#">book name1</a></li>
        <li><a href="#">book name2</a></li>
        <li><a href="#">book name3</a></li>
        <li><a href="#">book name4</a></li>
      </ul>
      <div class="book-detail flex-item">
        <div>
          <label for="name">作品名　　：</label><input type="text" id="name" value="ワンピース" readonly>
        </div>
        <div>
          <label for="author">著者名　　：</label><input type="text" id="author" value="尾田栄一郎" readonly>
        </div>
        <div>
          <label for="lentalable">貸出可能数：</label><input type="number" id="lentalable" value="1" readonly>
        </div>
        <div><a href="edit.html" class="btn edit">編集</a></div>
      </div>
    </div>
  </div>
</body>
</html>