<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../static/css/style.css">
  <title>Jyobi-BMS</title>
</head>
<body>
  <div class="container">
    <div class="home-items">
      <a href="#" class="home-item">一覧</a>
      <a href="#" class="home-item">追加</a>
      <a href="#" class="home-item">QR作成</a>
      <a href="#" class="home-item">貸借</a>
    </div>
  </div>
</body>
</html>