<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Internal Server Error!</title>
    <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/internal.css') }}">

</head>
<body>
<h1>500</h1>
<p id="error">Internal Server Error</p>
<p id="explanation"><a href="{{ url_for('login_top.login_page') }}" id="auto-return" style="
    color: #000000;
    text-decoration: none;
"><span id="timer">5</span>秒後に自動でログイン画面に遷移します</a></p>
<div id="container">
  <div class="server" id="server1">
    <div class="hdd-container">
      <div class="hdd">
        <div class="led green-led"></div>
        <div class="led red-led"></div>
        <div class="led red-led"></div>
        <div class="led red-led"></div>
        <div class="led red-led"></div>
        <div class="led red-led"></div>
        <div class="led red-led"></div>
        <div class="led green-led"></div>
      </div>
      <div class="hdd">
        <div class="led"></div>
        <div class="led red-led"></div>
        <div class="led"></div>
        <div class="led"></div>
        <div class="led"></div>
        <div class="led"></div>
        <div class="led"></div>
        <div class="led"></div>
      </div>
      <div class="hdd">
        <div class="led"></div>
        <div class="led red-led"></div>
        <div class="led red-led"></div>
        <div class="led red-led"></div>
        <div class="led red-led"></div>
        <div class="led red-led"></div>
        <div class="led red-led"></div>
        <div class="led"></div>
      </div>
      <div class="hdd">
        <div class="led"></div>
        <div class="led"></div>
        <div class="led"></div>
        <div class="led"></div>
        <div class="led"></div>
        <div class="led"></div>
        <div class="led red-led"></div>
        <div class="led"></div>
      </div>
      <div class="hdd">
        <div class="led"></div>
        <div class="led red-led"></div>
        <div class="led red-led"></div>
        <div class="led red-led"></div>
        <div class="led red-led"></div>
        <div class="led red-led"></div>
        <div class="led red-led"></div>
        <div class="led"></div>
      </div>
    </div>
		<div class="cooling-system">
			<div class="grid"></div>
			<div class="grid"></div>
			<div class="grid"></div>
			<div class="grid"></div>
			<div class="grid"></div>
			<div class="grid"></div>
			<div class="grid"></div>
			<div class="grid"></div>
			<div class="grid"></div>
			<div class="grid"></div>
			<div class="grid"></div>
			<div class="grid"></div>
		</div>
  </div>
	<div class="server" id="server2">
    <div class="hdd-container">
      <div class="hdd">
        <div class="led"></div>
        <div class="led red-led"></div>
        <div class="led red-led"></div>
        <div class="led red-led"></div>
        <div class="led red-led"></div>
        <div class="led red-led"></div>
        <div class="led red-led"></div>
        <div class="led"></div>
      </div>
      <div class="hdd">
        <div class="led "></div>
        <div class="led red-led"></div>
        <div class="led"></div>
        <div class="led"></div>
        <div class="led"></div>
        <div class="led"></div>
        <div class="led red-led"></div>
        <div class="led"></div>
      </div>
      <div class="hdd">
        <div class="led"></div>
        <div class="led red-led"></div>
        <div class="led"></div>
        <div class="led"></div>
        <div class="led"></div>
        <div class="led"></div>
        <div class="led red-led"></div>
        <div class="led"></div>
      </div>
      <div class="hdd">
        <div class="led"></div>
        <div class="led red-led"></div>
        <div class="led"></div>
        <div class="led"></div>
        <div class="led"></div>
        <div class="led"></div>
        <div class="led red-led"></div>
        <div class="led"></div>
      </div>
      <div class="hdd">
        <div class="led"></div>
        <div class="led red-led"></div>
        <div class="led red-led"></div>
        <div class="led red-led"></div>
        <div class="led red-led"></div>
        <div class="led red-led"></div>
        <div class="led red-led"></div>
        <div class="led"></div>
      </div>
    </div>
		<div class="cooling-system">
			<div class="grid"></div>
			<div class="grid"></div>
			<div class="grid"></div>
			<div class="grid"></div>
			<div class="grid"></div>
			<div class="grid"></div>
			<div class="grid"></div>
			<div class="grid"></div>
			<div class="grid"></div>
			<div class="grid"></div>
			<div class="grid"></div>
			<div class="grid"></div>
		</div>
  </div>
	<div class="server" id="server3">
    <div class="hdd-container">
      <div class="hdd">
        <div class="led"></div>
        <div class="led red-led"></div>
        <div class="led red-led"></div>
        <div class="led red-led"></div>
        <div class="led red-led"></div>
        <div class="led red-led"></div>
        <div class="led red-led"></div>
        <div class="led"></div>
      </div>
      <div class="hdd">
        <div class="led"></div>
        <div class="led red-led"></div>
        <div class="led"></div>
        <div class="led"></div>
        <div class="led"></div>
        <div class="led"></div>
        <div class="led red-led"></div>
        <div class="led"></div>
      </div>
      <div class="hdd">
        <div class="led"></div>
        <div class="led red-led"></div>
        <div class="led"></div>
        <div class="led"></div>
        <div class="led"></div>
        <div class="led"></div>
        <div class="led red-led"></div>
        <div class="led"></div>
      </div>
      <div class="hdd">
        <div class="led"></div>
        <div class="led red-led"></div>
        <div class="led"></div>
        <div class="led"></div>
        <div class="led"></div>
        <div class="led"></div>
        <div class="led red-led"></div>
        <div class="led"></div>
      </div>
      <div class="hdd">
        <div class="led"></div>
        <div class="led red-led"></div>
        <div class="led red-led"></div>
        <div class="led red-led"></div>
        <div class="led red-led"></div>
        <div class="led red-led"></div>
        <div class="led red-led"></div>
        <div class="led"></div>
      </div>
    </div>
		<div class="cooling-system">
			<div class="grid"></div>
			<div class="grid"></div>
			<div class="grid"></div>
			<div class="grid"></div>
			<div class="grid"></div>
			<div class="grid"></div>
			<div class="grid"></div>
			<div class="grid"></div>
			<div class="grid"></div>
			<div class="grid"></div>
			<div class="grid"></div>
			<div class="grid"></div>
		</div>
  </div>
</div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script>
        $(function() {
            let time = 4;
            let timer = $("#timer")
            setTimeout(function() {
                let url = $("#auto-return").attr("href");
                window.location = url;
            }, 5000);
            
            let counter = setInterval(function() {
                timer.text(time--);
            }, 1000);

            if (time == 0) {
                clearInterval(counter);
            }
        });
    </script>
</body>
</html>