{% extends 'template.html' %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/readonly.css') }}">
{% endblock %}

{% block content %}
<h2 class="page-title">貸借画面</h2>

<input type="hidden" id="errorsText" value="aaaaaaaa" change="failread()"/>
{% if error != '' %}
  {% if error == 0 %}
    <script>
      document.getElementById('errorsText').value = 'JANコードの読み取りに失敗しました、もう一度お願いいたします。'
      document.getElementById('errorsText').type = '';
    </script>
    <!-- <h2>JANコードの読み取りに失敗しました、もう一度お願いいたします。</h2> -->
  {% elif error == 1 %}
    <script>
      document.getElementById('errorsText').value = 'お求めの本が存在しませんでした、管理者にお問い合わせください。'
      document.getElementById('errorsText').type = '';
    </script>
    <!-- <h2>お求めの本が存在しませんでした、管理者にお問い合わせください。</h2> -->
  {% elif error == 2 %}
    <h2>貸出可能冊数に達しています。現在貸し出すことができません。</h2>
  {% endif %}
  <!-- <script>
    document.getElementById('errorsText').value = '';
  </script> -->
{% endif %}

{% if result %}
  {% if operation_name == "lend" %}
    <h1>貸出を受け付けました。</h1>
  {% elif operation_name == "return" %}
    <h1>返却を受け付けました。</h1>
  {% elif operation_name != "" %}
    <h1>処理名にエラーが発見されました、管理者にお問い合わせください。</h1>
  {% endif %}
{% elif  result %}
  <h1 class="error">処理に失敗いたしました、再度お願いいたします。</h1>
{% endif %}

<div class="container add_books">
  <div class="flex-wrapper">
      <div id="interactive">
        <form action="{{url_for('lender.get_book')}}" method="POST" id="sendForm">
          <input type="hidden" name="jan" id="jan">
        </form>
      </div>
    {% if books_json is not undefined %}
      <form class="form-add" method="POST">
        <div class="form-item">
          <label for="book-name">JANコード</label>
          <input type="number" name="jancode" id="jancode" value={{books_json[0].book_id}} readonly>
        </div>
        <div class="form-item">
          <label for="book-name">図書名</label>
          <input type="text" name="book-name" id="book-name" value={{books_json[0].name}} readonly>
        </div>
        <div class="form-item">
          <label for="author">著者名</label>
          <input type="text" name="author" id="author" value={{books_json[0].author}} readonly>
        </div>
        <div class="form-item">
          <label for="book-amount">冊数</label>
          <input type="number" name="book-amount" id="book-amout" value={{books_json[0].amount}} readonly>
        </div>
        <div class="form-item">
          <label for="book-amount">貸出可能冊数</label>
          <input type="number" name="book-amount" id="book-amout" value={{books_json[0].stock}} readonly>
        </div>
        <button class="btn" type="submit" formaction="{{url_for('lender.lend_process')}}">借りる</button>
        <button class="btn" type="submit" formaction="{{url_for('lender.return_process')}}">返す</button>
      </form>
    {% endif %}
  </form>
  </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

<script type="text/javascript" src="../static/js/quagga.min.js" type="module"></script>
<script src="../static/js/lender.js" type="module"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/lender_ajax.js') }}"></script>
{% endblock %}
