<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../static/css/style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  {% block css %}{% endblock %}
  {% block script %}{% endblock %}
  <title>Jyobi-BMS</title>
</head>
<body>
  <header class="header">
    <div class="header-wrapper">
      <div class="header-wrapper-left">
        <h1 class="logo"><a href="{{url_for('login_top.top_page')}}">Jyobi-BMS</a></h1>
      {% if session.get('user_id') == none %}
      {% else %}
        <nav class="header-nav">
          <ul>
            <li class="header-nav-item"><a href="{{url_for('booklist_view.booklist_view')}}">一覧</a></li>
              {% if session.get('user_id')[0] == '0'  %}
                <li class="header-nav-item"><a href="{{url_for('add_books.add_books')}}">追加</a></li>
                <li class="header-nav-item"><a href="{{url_for('create_qr.make_qr')}}">QR作成</a></li>
              {% endif %}
            <li class="header-nav-item"><a href="{{url_for('lender.get_lender')}}">借りる</a></li>
          </ul>
        </nav>
      {% endif %}
      </div>
      <div class="header-wrapper-right">
          {% if session.get('user_id') == none %}
          {% else %}
        <div class="user-info">
          <div class="user-number">学籍番号：{{ session['user_id'] }}</div>
          <div class="user-name">生徒名&emsp;：{{ session['user_name'] }}</div>
        </div>
        <div class="log-out-wrapper">
          <a href="{{url_for('login_top.logout')}}"><i class="fas fa-sign-out-alt"></i></a>
          <div class="logout-text">ログアウト</div>
        </div>
          {% endif %}
      </div>
    </div>
  </header>
  <div class="header-bottom">
      {% if session.get('user_id') == none %}
      {% else %}
        <div class="back-btn back" onclick="history.back()"><i class="fas fa-arrow-left"></i></div>
      {% endif %}
  </div>
  {% block content %}

  {% endblock%}
</body>
</html>