<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../static/css/style.css">
  {% block css %}{% endblock %}
  <title>Jyobi-BMS</title>
</head>
<body>
  <header class="header">
    <div class="header-wrapper">
      <h1 class="logo"><a href="#">Jyobi-BMS</a></h1>
      <div class="header-right-box">
        <div class="user_info">
          <div class="user_number">学籍番号：4100001</div>
          <div class="user_name">生徒名：ジョビ君</div>
        </div>
        <a href="#" class="btn">ログアウト</a>
      </div>
    </div>
  </header>
  {% block content %}

  {% endblock%}
</body>
</html>